*{
  box-sizing: border-box;
}

hr{
  width: 100%;
  border: 2px pink solid;
  background-color: pink;
}

/*Top Navi Bar*/

.frame{
  width: 100%;
  height: 90px;
  text-align: justify;
}

#logo{
  width: 20%;
  height: 90px;
  float: left;
  align-items: center;
  margin-left: 20px;
}

#logo ul{
  height: 90px;
  width:auto;
  border: 1px black dotted;
}

#logo ul li{
  list-style-type: none;
  display: inline;
  border: 1px black dotted;
  margin: 5px;
  text-align: left;
  color: black;
  height: 90px;
}


#hotel{
  width: 100px;
  height: 90px;
  margin: 0px;
  padding: 0px;
  float: right;
  align: center;
}

#navi{
  width: 65%;
  height: 90px;
  float: right;
}

#navi ul{
  height: 90px;
}

#navi ul li{
  display: inline;
  list-style-type: none;
  margin: 40px;
  padding: 1px;
  border: 1px black dotted;
  text-align: center;
  color: black;
}

/* footer border --> visualisation */

footer{
  width: 100%;
  height: auto;
  display: inline-block;
}

#general{
  float: left;
}

#info{
  float: left;
}

#support{
  float: left;
}
